<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="vendor/angular.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Rainbow 6 Operator Picker</title>
  </head>
  <body ng-app="myApp">
<div class="bg">
    <div ng-controller="control">
         <div class="attackdiv" >
           <button type="button" name="button" ng-click="randA()">Random Attacker</button>
           <button type="button" name="button" ng-click="enable('atk')">Enable All</button>
           <button type="button" name="button" ng-click="disable('atk')">Disable All</button>
           <br>
            <div  class="{{ops.selected}} {{ops.disabled}}" ng-repeat="ops in dispa" id="atkitem" ng-click="picked('atk')"><img src="{{ops.img}}" width="100"
              height="100"></div>
         </div>
         <div class="defencediv">
           <button type="button" name="button" ng-click="randD()">Random Defender</button>
           <button type="button" name="button" ng-click="enable('def')">Enable All</button>
           <button type="button" name="button" ng-click="disable('def')">Disable All</button>
           <br>
            <div class="{{ops.selected}} {{ops.disabled}}" ng-repeat="ops in dispb" id="defitem" ng-click="picked('def')"><img src="{{ops.img}}" width="100" height="100"></div>
         </div>
    </div>
</div>
  </body>
</html>
