<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="vendor/angular.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Rainbow 6 Operator Picker</title>
  </head>
  <body ng-app="myApp">
    <div ng-controller="control">
        <p>Henlo</p>
            <div class="attackdiv" ng-repeat="ops in dispa"><div class="atkitem">{{ops.name}}</div></div>
            <div ng-show="false" class="defencediv" ng-repeat="ops in dispb"><div class="defitem">{{ops.name}}</div></div>
    </div>

  </body>
</html>
