<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="vendor/angular.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Rainbow 6 Operator Picker</title>
  </head>
  <body ng-app="myApp">
    <div ng-controller="control">
        <p>Henlo</p>
         <div class="attackdiv" >
           <button type="button" name="button" ng-click="randA()">Random Attacker</button>
           <br>
            <div  class="{{ops.selected}}" ng-repeat="ops in dispa" id="atkitem">{{ops.name}}</div>
         </div>
         <div class="defencediv">
           <button type="button" name="button" ng-click="randD()">Random Defender</button>
           <br>
            <div class="{{ops.selected}}" ng-repeat="ops in dispb" id="defitem">{{ops.name}}</div>
         </div>
    </div>

  </body>
</html>
